@page
@model OOP_FINAL.Pages.TimKiemHDBanModel
<form method="post">
    <label for="fname">Mã đơn bán muốn tìm</label><br />
    <input type="text" name="madon" value="0"><br />
    <input type="submit" value="Tìm" />
</form>
@Model.Chuoi
Mã hóa đơn: @Model.a.maHD
Mã hàng: @Model.a.maHang
Đơn giá: @Model.a.dongia vnd
Khách hàng: @Model.a.nguoi
Ngày bán: @Model.a.date


